header{
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;

}

nav{
    background-color: #1A2DAE;
    color: #fff;
    text-align: center;
    font-size: 25px;
    position: sticky;
    top: 0;
   
}

h1{
    padding: 20px;
}

h2{
    line-height: 30px;

}

h2 em{
    color: red;
    font-size:medium;
    padding: 10px;
    
    
}

.step_two,.step_three h2{
    padding-top: 60px;
    padding-right: 40px;

}

.container{
    width: 100%;
    background-color: #fff;
    padding: 20px;
    margin: auto;
    font-size: 18px;
}

a{
    text-decoration: none;
}

.button{
    padding: 30px 10px;
}




.button a{
    padding: 10px 30px;
    /* margin: 60px auto; */
    border-radius: 10px;
    border: 2px solid #aaa;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 4px 2px 0 rgba(0,0,0,0.1);
}
  
    
img{
    width: 80%;
    text-align: center;
    padding: 20px 10px;
}


    

footer{
    width: 100%;
    background-color: #1A2DAE;
    text-align: center;

}

footer p{
    color: #fff;

}

footer .copyright{
    width: 100%;
    background-color:  #1b1464;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    padding: 20px 0;
    color: rgba(161, 161, 161, 0.685);
   
}




